<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/hot.png">
    <title>About</title>
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Shubham Pandey. It uses MapBox and WeatherStack API</p>
        <img class='portrait' src='/img/shubh.jpg'>
    </div>

    {{>footer}}
</body>


</html>